{% extends 'base.html.twig' %}

{% block title %}Nouveau livre{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h1 class="h4 mb-0">Ajouter un livre</h1>
                    </div>
                    <div class="card-body">
                        {{ form_start(form, { attr: { enctype: 'multipart/form-data', class: 'row g-3' } }) }}
                        <div class="col-md-8">
                            {{ form_row(form.title) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.author) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.genre) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.description) }}
                        </div>
                        <div class="col-md-8">
                            {{ form_row(form.coverFile) }}
                        </div>
                        <div class="col-12">
                            <button class="btn btn-success">Enregistrer</button>
                            <a href="{{ path('book_index') }}" class="btn btn-outline-secondary">Annuler</a>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
